@use './variable' as *;

.head {

    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.header_top {
    background: $dc__evidence;

    .row {
        max-width: 1280px;
        margin: 0 auto;

        p {
            color: $dc__light;
            margin: 0;
            text-transform: uppercase;
        }
    }

}

.nav-link {

    text-transform: uppercase;
    font-weight: 700;
    padding: 3rem 0;

}

.active {
    color: $dc__evidence !important;
    border-bottom: 4px solid $dc__evidence;
}

.searchbar {
    input {
        border: 0;
        border-bottom: 2px solid $dc__evidence;
    }

    input::-webkit-input-placeholder {
        text-align: end;
        color: $dc__dark;
    }

    input::-webkit-input-placeholder::after {
        content: 'ciao';
    }
}